{#
<div id="header">
  {{ page.header }}
</div>

<div id="menu">
  {{ page.menu }}
</div>

<div id="content">
  {{ page.content }}
</div>

<div id="sidebar">
  {{ page.sidebar }}
</div>

<div id="footer">
  {{ page.footer }}
</div>
#} {# #################### #} {# FRESH CODE (1.9.22) #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      {{ page.header }}
      <br />
      <div class="heading">
        <h1>Welcome</h1>
      </div>
      <nav class="menu">
        {{ page.menu }}
      </nav>
    </header>

    <main class="main">
      <div class="content">
        {{ page.content }}
      </div>
      {% if page.sidebar %}
      <div class="sidebar"></div>
      {% endif %}
    </main>
    <footer class="footer">
      {{ page.footer }}
    </footer>
  </body>
</html>
